{% load static %}
<html>
    <head>
        <title style="text-align:center;>6110110415 lab</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div style="background-image: url('https://image.freepik.com/free-vector/white-abstract-background_23-2148810113.jpg');">
        <div>
            <h1 style="text-align:center;><a href="/">6110110415 Blog</a></h1>
        </div>
        <div>
            <form action="/action_page.php">
              <label for="fname">First Name</label>
              <input type="text" id="fname" name="firstname" placeholder="Your name..">
          
              <label for="lname">Last Name</label>
              <input type="text" id="lname" name="lastname" placeholder="Your last name..">

              <label for="lname">Email</label>
              <input type="text" id="lname" name="lastname" placeholder="xxxxxxxxxx@psu.ac.th">
              <input type="submit" value="Submit">
            </form>
          </div>
        {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}

    </body>
</html>
